{
  "swagger": "2.0",
  "info": {
    "title": "분리수ZIP 서비스 API",
    "description": "엘리스 AI 트랙 4기 - AI Project 10팀 TOPTEN 프로젝트 문서.",
    "version": "1.0.0"
  },
  "host": "home.handwoong.com:5001",
  "basePath": "/",
  "tags": [
    {
      "name": "news",
      "description": "뉴스 데이터 API"
    },
    {
      "name": "quiz",
      "description": "퀴즈 데이터 API"
    },
    {
      "name": "trash",
      "description": "쓰레기 데이터 API"
    },
    {
      "name": "user",
      "description": "유저 데이터 API"
    },
    {
      "name": "post",
      "description": "게시글 데이터 API"
    },
    {
      "name": "comment",
      "description": "댓글 데이터 API"
    },
    {
      "name": "map",
      "description": "쓰레기통위치/로봇위치 데이터 API"
    }
  ],
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "http",
      "scheme": "bearer",
      "in": "header",
      "bearerFormat": "JWT"
    }
  },
  "paths": {
    "/bins": {
      "get": {
        "tags": [
          "map"
        ],
        "description": "조건에 따른 쓰레기통 위치정보 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "자치구명, 도로명 조건에 따른 쓰레기통 위치목록 조회",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BinsQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/BinsLocation"
            },
            "description": "요청조건에 해당하는 쓰레기통 위치목록 조회"
          }
        }
      }
    },
    "/bins/locations": {
      "get": {
        "tags": [
          "map"
        ],
        "description": "자치구명, 도로명 리스트 조회",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/BinsLocationList"
            },
            "description": "유니크한 자치구명, 도로명 리스트 조회"
          }
        }
      }
    },
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/news": {
      "get": {
        "tags": [
          "news"
        ],
        "description": "뉴스 목록 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "**search** 검색어\n  **page** 첫 요청시 빈 문자열 또는 생략\n  **limit** 기본값10\n",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NewsGetQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/NewsGetResponse"
            },
            "description": "뉴스 목록을 배열형태로 반환"
          }
        }
      },
      "post": {
        "tags": [
          "news"
        ],
        "description": "뉴스 생성",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "생성하고자 하는 뉴스의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewsPostQuery"
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/NewsPostResponse"
            },
            "description": "생성된 뉴스 정보 반환"
          }
        }
      }
    },
    "/news/{id}": {
      "put": {
        "tags": [
          "news"
        ],
        "description": "뉴스 수정",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "수정하고자 하는 뉴스의 ID",
            "schema": {
              "$ref": "#/definitions/NewsId"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 뉴스의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewsPutBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/NewsPutResponse"
            },
            "description": "수정된 뉴스 정보 반환"
          }
        }
      },
      "delete": {
        "tags": [
          "news"
        ],
        "description": "뉴스 삭제",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "삭제하고자 하는 뉴스의 ID",
            "schema": {
              "$ref": "#/definitions/NewsId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            },
            "description": "삭제 메시지"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "post"
        ],
        "description": "게시글 목록 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "**search** 검색어\n  **page** 첫 요청시 빈 문자열 또는 생략\n  **limit** 기본값10\n",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PostGetQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PostGetResponse"
            },
            "description": "게시글 목록을 배열형태로 반환"
          }
        }
      },
      "post": {
        "tags": [
          "post"
        ],
        "description": "게시글 생성 **로그인 필수**",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "생성하고자 하는 게시글의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/PostCreateResponse"
            },
            "description": "생성된 게시글 정보 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "post"
        ],
        "description": "개별 게시글 정보 조회",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "얻고자 하는 게시글정보의 ID",
            "schema": {
              "$ref": "#/definitions/PostId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PostOneGetResponse"
            },
            "description": "게시글 정보를 반환"
          }
        }
      },
      "put": {
        "tags": [
          "post"
        ],
        "description": "게시글 정보 수정 **로그인 필수**",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "수정하고자 하는 게시글의 ID",
            "schema": {
              "$ref": "#/definitions/PostId"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 게시글의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PostPutResponse"
            },
            "description": "수정된 게시글 정보 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "post"
        ],
        "description": "게시글 삭제 **로그인 필수**",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "삭제하고자 하는 게시글의 ID",
            "schema": {
              "$ref": "#/definitions/PostId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            },
            "description": "삭제 메시지"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/posts/{postId}/comments": {
      "post": {
        "tags": [
          "post"
        ],
        "description": "댓글 생성 **로그인 필수**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "댓글을 달 게시글의 ID",
            "schema": {
              "$ref": "#/definitions/PostId"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "생성하고자 하는 댓글의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommentCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/CommentCreateResponse"
            },
            "description": "생성된 댓글 정보 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/posts/{postId}/comments/{commentId}": {
      "put": {
        "tags": [
          "post"
        ],
        "description": "댓글 정보 수정 **로그인 필수**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "수정하고자 하는 댓글의 ID",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommentId"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 댓글의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommentPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CommentPutResponse"
            },
            "description": "수정된 댓글 정보 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "post"
        ],
        "description": "댓글 삭제 **로그인 필수**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "삭제하고자 하는 댓글이 달려있는 게시글 ID",
            "schema": {
              "$ref": "#/definitions/PostId"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "삭제하고자 하는 댓글의 ID",
            "schema": {
              "$ref": "#/definitions/CommentId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            },
            "description": "삭제 메시지"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quizzes": {
      "get": {
        "tags": [
          "quiz"
        ],
        "description": "타입별 퀴즈목록 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "[multipleChoice, mixUp, ox] 3가지 타입 중 한가지로 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuizType"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizByType"
            },
            "description": "요청타입에 해당하는 퀴즈목록 조회"
          }
        }
      }
    },
    "/quizzes/wrong": {
      "get": {
        "tags": [
          "quiz"
        ],
        "description": "오답률 상위 3개 퀴즈정보 조회",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizByType"
            },
            "description": "오답률 상위 3개 퀴즈정보 리턴"
          }
        }
      }
    },
    "/quizzes/game/{step}": {
      "get": {
        "tags": [
          "quiz"
        ],
        "description": "미니게임 쓰레기 이미지 조회",
        "parameters": [
          {
            "name": "step",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "미니게임 단계를 0, 1, 2 중에서 요청",
            "schema": {
              "$ref": "#/definitions/QuizStep"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizGameImgSet"
            },
            "description": "단계별 미니게임에 필요한 쓰레기 이미지를 반환"
          }
        }
      }
    },
    "/quizzes/{id}": {
      "get": {
        "tags": [
          "quiz"
        ],
        "description": "quizId에 해당하는 퀴즈정보 조회",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "조회하고자 하는 퀴즈의 quizId를 경로 엔드포인트에 추가",
            "schema": {
              "$ref": "#/definitions/QuizId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizByType"
            },
            "description": "quizId에 해당하는 퀴즈정보 조회"
          }
        }
      }
    },
    "/quizzes/{id}/submission": {
      "post": {
        "tags": [
          "quiz"
        ],
        "description": "quizId에 해당하는 퀴즈채점",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "채점하고자 하는 퀴즈의 quizId를 경로 엔드포인트에 추가",
            "schema": {
              "$ref": "#/definitions/QuizId"
            }
          },
          {
            "name": "answer",
            "in": "body",
            "description": "해당 퀴즈를 풀이한 유저의 답을 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuizUserAnswer"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizResult"
            },
            "description": "quizId에 해당하는 퀴즈 채점결과 반환"
          }
        }
      }
    },
    "/quizzes/submission": {
      "post": {
        "tags": [
          "quiz"
        ],
        "description": "퀴즈셋 채점",
        "parameters": [
          {
            "name": "퀴즈셋정보",
            "in": "body",
            "description": "채점하고자 하는 퀴즈셋의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuizSetSubmission"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuizSetResult"
            },
            "description": "퀴즈셋 채점결과 반환"
          }
        }
      }
    },
    "/robot": {
      "get": {
        "tags": [
          "map"
        ],
        "description": "반경 10km이내 로봇위치 정보 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "유저의 현재 위치정보(경도/위도)를 쿼리스트링으로 담아 보낸다.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoordinatesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/RobotLocationList"
            },
            "description": "반경 10km 내 로봇위치 리스트 반환"
          }
        }
      }
    },
    "/trash": {
      "get": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 목록 조회",
        "parameters": [
          {
            "name": "queryString",
            "in": "query",
            "description": "**search** 검색어\n  **category** 조회할 카테고리\n  **page** 첫 요청시 빈 문자열 또는 생략\n  **limit** 기본값10\n",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TrashGetQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrashGetResponse"
            },
            "description": "쓰레기 목록을 배열형태로 반환"
          }
        }
      },
      "post": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 생성",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "생성하고자 하는 쓰레기의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrashPostRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/TrashPostResponse"
            },
            "description": "생성된 쓰레기 정보 반환"
          }
        }
      }
    },
    "/trash/categories": {
      "get": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 카테고리 조회",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrashCategoryGetResponse"
            },
            "description": "쓰레기 카테고리 목록을 배열형태로 반환"
          }
        }
      }
    },
    "/trash/{id}": {
      "get": {
        "tags": [
          "trash"
        ],
        "description": "개별 쓰레기 정보 조회",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "얻고자 하는 쓰레기정보의 ID",
            "schema": {
              "$ref": "#/definitions/TrashId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrashOneGetResponse"
            },
            "description": "쓰레기 정보를 반환"
          }
        }
      },
      "put": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 정보 수정",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "수정하고자 하는 쓰레기의 ID",
            "schema": {
              "$ref": "#/definitions/TrashId"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 쓰레기의 정보를 body에 담아 요청",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrashPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrashPutResponse"
            },
            "description": "수정된 쓰레기 정보 반환"
          }
        }
      },
      "delete": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 삭제",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "삭제하고자 하는 쓰레기의 ID",
            "schema": {
              "$ref": "#/definitions/TrashId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            },
            "description": "삭제 메시지"
          }
        }
      }
    },
    "/trash/ai": {
      "post": {
        "tags": [
          "trash"
        ],
        "description": "쓰레기 AI 분석",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "multFiles",
            "in": "formData",
            "type": "single",
            "required": true,
            "description": "쓰레기 이미지 파일\nmultipart/form-data",
            "collectionFormat": "multi",
            "items": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TrashAiResponse"
            },
            "description": "AI 분석결과를 반환"
          }
        }
      }
    },
    "/users/current": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "현재 유저 상태 조회",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            },
            "description": "현재 유저 정보를 반환\n로그인중이 아니라면 **401** 상태코드"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/rank": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "유저들의 미니게임 랭킹",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserRankingResponse"
            },
            "description": "미니게임 랭킹 목록을 반환"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "한명의 유저 조회",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "얻고자 하는 유저정보의 ID",
            "schema": {
              "$ref": "#/definitions/UserId"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            },
            "description": "한명의 유저 정보를 반환"
          }
        }
      }
    },
    "/users/register": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "유저 생성",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "생성하고자 하는 유저의 정보를 body에 담아 요청\n  **email** 이메일 **필수**\n  **password** 비밀번호 **필수** 8자리 이상\n  **username** 닉네임 **필수** 3자리 이상  ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            },
            "description": "생성된 유저 정보 반환"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "유저 로그인",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "유저 로그인 정보를 담아 요청\n  **email** 이메일 **필수**\n  **password** 비밀번호 **필수** 8자리 이상\n  ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserLoginResponse"
            },
            "description": "로그인 유저 ID 및 액세스토큰 반환"
          }
        }
      }
    },
    "/users/update": {
      "put": {
        "tags": [
          "user"
        ],
        "description": "유저 수정",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 유저의 정보를 body에 담아 요청\n  **로그인 필수**\n  **email** 이메일 **필수** 변경 불가\n  **password** 비밀번호 **선택**\n  **username** 닉네임 **선택**  ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            },
            "description": "수정된 유저 정보 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/score": {
      "put": {
        "tags": [
          "user"
        ],
        "description": "유저의 미니게임 점수 갱신",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "수정하고자 하는 유저의 정보를 body에 담아 요청\n  **로그인 필수**\n  **score** 점수 **필수**  ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserScoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/UserScoreResponse"
            },
            "description": "점수 갱신 메시지 반환"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/delete": {
      "delete": {
        "tags": [
          "user"
        ],
        "description": "유저 삭제 **로그인 필수**",
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeleteResponse"
            },
            "description": "삭제 메시지"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "definitions": {
    "NewsId": {
      "type": "string",
      "example": "news/{newsId}"
    },
    "NewsGetQuery": {
      "type": "string",
      "example": "?search={}&page={ID}&limit={5}"
    },
    "NewsGetResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "id"
          },
          "url": {
            "type": "string",
            "example": "http://"
          },
          "title": {
            "type": "string",
            "example": "제목"
          }
        }
      }
    },
    "NewsPostQuery": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "example": "http://"
        },
        "title": {
          "type": "string",
          "example": "제목"
        }
      }
    },
    "NewsPostResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "id"
        },
        "url": {
          "type": "string",
          "example": "http://"
        },
        "title": {
          "type": "string",
          "example": "제목"
        }
      }
    },
    "NewsPutBody": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "example": "http://"
        },
        "title": {
          "type": "string",
          "example": "수정된제목"
        }
      }
    },
    "NewsPutResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "id"
        },
        "url": {
          "type": "string",
          "example": "http://"
        },
        "title": {
          "type": "string",
          "example": "수정된제목"
        }
      }
    },
    "DeleteResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "삭제가 완료되었습니다."
        }
      }
    },
    "UserId": {
      "type": "string",
      "example": "users/{userId}"
    },
    "UserGetResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62acd51598886269f298521e"
        },
        "email": {
          "type": "string",
          "example": "test@test.com"
        },
        "username": {
          "type": "string",
          "example": "테스트"
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "UserRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "test@test.com"
        },
        "password": {
          "type": "string",
          "example": "test1234"
        },
        "username": {
          "type": "string",
          "example": "테스트유저"
        }
      }
    },
    "UserLoginRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "test@test.com"
        },
        "password": {
          "type": "string",
          "example": "test1234"
        }
      }
    },
    "UserLoginResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "example": "62acd51598886269f298521e"
        },
        "token": {
          "type": "string",
          "example": "accessToken"
        }
      }
    },
    "UserLogoutResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "정상적으로 로그아웃이 완료되었습니다."
        }
      }
    },
    "UserScoreRequest": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "example": 80
        }
      }
    },
    "UserScoreResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "점수 갱신이 완료되었습니다."
        }
      }
    },
    "UserRankingResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "62acd51598886269f298521e"
          },
          "email": {
            "type": "string",
            "example": "test@test.com"
          },
          "username": {
            "type": "string",
            "example": "테스트"
          },
          "topscore": {
            "type": "number",
            "example": 1000
          },
          "__v": {
            "type": "number",
            "example": 0
          }
        }
      }
    },
    "PostId": {
      "type": "string",
      "example": "posts/{postId}"
    },
    "PostGetQuery": {
      "type": "string",
      "example": "?search={}&page={ID}&limit={5}"
    },
    "PostGetResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "62b7466debf07fab781dc931"
          },
          "title": {
            "type": "string",
            "example": "게시글adf제목"
          },
          "author": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "example": "62b513e76ae88bc07ab1c6b5"
              },
              "email": {
                "type": "string",
                "example": "test@test.com"
              },
              "username": {
                "type": "string",
                "example": "테스트"
              },
              "topscore": {
                "type": "number",
                "example": 0
              },
              "__v": {
                "type": "number",
                "example": 0
              }
            }
          },
          "content": {
            "type": "string",
            "example": "게시글내용"
          },
          "comments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "author": {
                  "type": "object",
                  "properties": {
                    "topscore": {
                      "type": "number",
                      "example": 0
                    },
                    "_id": {
                      "type": "string",
                      "example": "62b74a11bc205e616076c5ce"
                    },
                    "email": {
                      "type": "string",
                      "example": "test@test.com"
                    },
                    "username": {
                      "type": "string",
                      "example": "테스트"
                    }
                  }
                },
                "content": {
                  "type": "string",
                  "example": "댓글댓글11"
                },
                "_id": {
                  "type": "string",
                  "example": "62b74674ebf07fab781dc936"
                },
                "createdAt": {
                  "type": "string",
                  "example": "2022-06-25T17:31:32.404Z"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "2022-06-25T17:31:32.404Z"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "example": "2022-06-25T17:31:25.100Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2022-06-25T17:31:32.404Z"
          },
          "__v": {
            "type": "number",
            "example": 1
          }
        }
      }
    },
    "PostOneGetResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62b7466debf07fab781dc931"
        },
        "title": {
          "type": "string",
          "example": "게시글adf제목"
        },
        "author": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "62b513e76ae88bc07ab1c6b5"
            },
            "email": {
              "type": "string",
              "example": "test@test.com"
            },
            "username": {
              "type": "string",
              "example": "테스트"
            },
            "topscore": {
              "type": "number",
              "example": 0
            },
            "__v": {
              "type": "number",
              "example": 0
            }
          }
        },
        "content": {
          "type": "string",
          "example": "게시글내용"
        },
        "comments": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "author": {
                "type": "object",
                "properties": {
                  "topscore": {
                    "type": "number",
                    "example": 0
                  },
                  "_id": {
                    "type": "string",
                    "example": "62b74a11bc205e616076c5ce"
                  },
                  "email": {
                    "type": "string",
                    "example": "test@test.com"
                  },
                  "username": {
                    "type": "string",
                    "example": "테스트"
                  }
                }
              },
              "content": {
                "type": "string",
                "example": "댓글댓글11"
              },
              "_id": {
                "type": "string",
                "example": "62b74674ebf07fab781dc936"
              },
              "createdAt": {
                "type": "string",
                "example": "2022-06-25T17:31:32.404Z"
              },
              "updatedAt": {
                "type": "string",
                "example": "2022-06-25T17:31:32.404Z"
              }
            }
          }
        },
        "createdAt": {
          "type": "string",
          "example": "2022-06-25T17:31:25.100Z"
        },
        "updatedAt": {
          "type": "string",
          "example": "2022-06-25T17:31:32.404Z"
        },
        "__v": {
          "type": "number",
          "example": 1
        }
      }
    },
    "PostCreateRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "제목"
        },
        "content": {
          "type": "string",
          "example": "내용"
        }
      }
    },
    "PostCreateResponse": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "게시글제목"
        },
        "author": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "62b265a4bec0b04d29f2c896"
            },
            "email": {
              "type": "string",
              "example": "test@test.com"
            },
            "username": {
              "type": "string",
              "example": "수정함"
            },
            "__v": {
              "type": "number",
              "example": 0
            },
            "topscore": {
              "type": "number",
              "example": 90
            }
          }
        },
        "content": {
          "type": "string",
          "example": "게시글내용"
        },
        "comment": {
          "type": "array",
          "example": [],
          "items": {}
        },
        "_id": {
          "type": "string",
          "example": "62b429a849398630ffce4e4f"
        },
        "createdAt": {
          "type": "string",
          "example": "2022-06-23T08:51:52.962Z"
        },
        "updatedAt": {
          "type": "string",
          "example": "2022-06-23T08:51:52.962Z"
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "PostPutRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "수정할 제목"
        },
        "content": {
          "type": "string",
          "example": "수정할 내용"
        }
      }
    },
    "PostPutResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62b429a849398630ffce4e4f"
        },
        "title": {
          "type": "string",
          "example": "수정된"
        },
        "author": {
          "type": "string",
          "example": "62b265a4bec0b04d29f2c896"
        },
        "content": {
          "type": "string",
          "example": "수정된"
        },
        "comment": {
          "type": "array",
          "example": [],
          "items": {}
        },
        "createdAt": {
          "type": "string",
          "example": "2022-06-23T08:51:52.962Z"
        },
        "updatedAt": {
          "type": "string",
          "example": "2022-06-23T08:53:57.391Z"
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "CommentId": {
      "type": "string",
      "example": "comments/{commentId}"
    },
    "CommentCreateRequest": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "example": "댓글댓글"
        }
      }
    },
    "CommentCreateResponse": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "example": "댓글댓글"
        },
        "author": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "62b513e76ae88bc07ab1c6b5"
            },
            "email": {
              "type": "string",
              "example": "test@test.com"
            },
            "username": {
              "type": "string",
              "example": "테스트"
            },
            "topscore": {
              "type": "number",
              "example": 0
            },
            "__v": {
              "type": "number",
              "example": 0
            }
          }
        }
      }
    },
    "CommentPutRequest": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "example": "수정할 댓글 내용"
        }
      }
    },
    "CommentPutResponse": {
      "type": "object",
      "properties": {
        "author": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "example": "62b265a4bec0b04d29f2c896"
            },
            "email": {
              "type": "string",
              "example": "test@test.com"
            },
            "username": {
              "type": "string",
              "example": "수정함"
            },
            "__v": {
              "type": "number",
              "example": 0
            },
            "topscore": {
              "type": "number",
              "example": 90
            }
          }
        },
        "content": {
          "type": "string",
          "example": "수정할 댓글 내용"
        },
        "_id": {
          "type": "string",
          "example": "62b45eda265c75394cc5ba0e"
        },
        "createdAt": {
          "type": "string",
          "example": "2022-06-23T12:38:50.274Z"
        },
        "updatedAt": {
          "type": "string",
          "example": "2022-06-23T12:38:50.274Z"
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "TrashId": {
      "type": "string",
      "example": "trash/{trashId}"
    },
    "TrashGetQuery": {
      "type": "string",
      "example": "?search={}&category={}&page={ID}&limit={5}"
    },
    "TrashGetResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "62a1624d1458dc8c48ab52ca"
          },
          "title": {
            "type": "string",
            "example": "컵라면"
          },
          "description": {
            "type": "object",
            "properties": {
              "throwAway": {
                "type": "array",
                "example": [
                  "컵라면 용기를 물로 세척",
                  "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                  "흰 색의 용기로 만든 뒤 배출"
                ],
                "items": {
                  "type": "string"
                }
              },
              "note": {
                "type": "array",
                "example": [
                  "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
                ],
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "kind": {
            "type": "array",
            "example": [
              "다양한 스티로폼 컵라면 용기"
            ],
            "items": {
              "type": "string"
            }
          },
          "image": {
            "type": "string",
            "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
          },
          "recycle": {
            "type": "boolean",
            "example": true
          },
          "category": {
            "type": "array",
            "example": [
              "스티로폼"
            ],
            "items": {
              "type": "string"
            }
          },
          "__v": {
            "type": "number",
            "example": 0
          }
        }
      }
    },
    "TrashAiResponse": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "페트병"
        },
        "kind": {
          "type": "string",
          "example": "플라스틱"
        },
        "section": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "example": "라벨"
              },
              "score": {
                "type": "number",
                "example": 0
              }
            }
          }
        },
        "throwAway": {
          "type": "array",
          "example": [
            "내용물을 비운 뒤 세척",
            "부착 상표 등을 제거 후 일반 쓰레기에 버리기"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TrashOneGetResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62a1624d1458dc8c48ab52ca"
        },
        "title": {
          "type": "string",
          "example": "컵라면"
        },
        "description": {
          "type": "object",
          "properties": {
            "throwAway": {
              "type": "array",
              "example": [
                "컵라면 용기를 물로 세척",
                "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                "흰 색의 용기로 만든 뒤 배출"
              ],
              "items": {
                "type": "string"
              }
            },
            "note": {
              "type": "array",
              "example": [
                "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "array",
          "example": [
            "다양한 스티로폼 컵라면 용기"
          ],
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
        },
        "recycle": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "array",
          "example": [
            "스티로폼"
          ],
          "items": {
            "type": "string"
          }
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "TrashCategoryGetResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "플라스틱"
          },
          "image": {
            "type": "string",
            "example": "https://blisgo.com/wp-content/uploads/elementor/thumbs/%ED%8E%98%ED%8A%B8%EB%B3%91-osxqcextwey39nv9bbiwyx92fih9hl1i4rtny3m70g.jpg"
          }
        }
      }
    },
    "TrashPostRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "컵라면"
        },
        "description": {
          "type": "object",
          "properties": {
            "throwAway": {
              "type": "array",
              "example": [
                "컵라면 용기를 물로 세척",
                "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                "흰 색의 용기로 만든 뒤 배출"
              ],
              "items": {
                "type": "string"
              }
            },
            "note": {
              "type": "array",
              "example": [
                "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "array",
          "example": [
            "다양한 스티로폼 컵라면 용기"
          ],
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
        },
        "recycle": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "array",
          "example": [
            "스티로폼"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TrashPostResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62a1624d1458dc8c48ab52ca"
        },
        "title": {
          "type": "string",
          "example": "컵라면"
        },
        "description": {
          "type": "object",
          "properties": {
            "throwAway": {
              "type": "array",
              "example": [
                "컵라면 용기를 물로 세척",
                "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                "흰 색의 용기로 만든 뒤 배출"
              ],
              "items": {
                "type": "string"
              }
            },
            "note": {
              "type": "array",
              "example": [
                "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "array",
          "example": [
            "다양한 스티로폼 컵라면 용기"
          ],
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
        },
        "recycle": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "array",
          "example": [
            "스티로폼"
          ],
          "items": {
            "type": "string"
          }
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "TrashPutRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "example": "수정된제목"
        },
        "description": {
          "type": "object",
          "properties": {
            "throwAway": {
              "type": "array",
              "example": [
                "수정",
                "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                "흰 색의 용기로 만든 뒤 배출"
              ],
              "items": {
                "type": "string"
              }
            },
            "note": {
              "type": "array",
              "example": [
                "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "array",
          "example": [
            "다양한 스티로폼 컵라면 용기"
          ],
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
        },
        "recycle": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "array",
          "example": [
            "스티로폼"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TrashPutResponse": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "example": "62a1624d1458dc8c48ab52ca"
        },
        "title": {
          "type": "string",
          "example": "수정된제목"
        },
        "description": {
          "type": "object",
          "properties": {
            "throwAway": {
              "type": "array",
              "example": [
                "수정",
                "햇빛에 하루 이상 말려 기름, 국물 자국 제거",
                "흰 색의 용기로 만든 뒤 배출"
              ],
              "items": {
                "type": "string"
              }
            },
            "note": {
              "type": "array",
              "example": [
                "라면 국물이 남아있거나, 음식물이 완전히 제거 되지 않은 컵라면 용기는 재활용 불가능하므로 일반쓰레기로 배출"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "type": "array",
          "example": [
            "다양한 스티로폼 컵라면 용기"
          ],
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "example": "https://upload.wikimedia.org/wikipedia/commons/0/0a/PSP%EB%9D%BC%EB%A9%B4%EC%9A%A9%EA%B8%B0.png"
        },
        "recycle": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "array",
          "example": [
            "스티로폼"
          ],
          "items": {
            "type": "string"
          }
        },
        "__v": {
          "type": "number",
          "example": 0
        }
      }
    },
    "QuizId": {
      "type": "string",
      "example": "62a455ad6059af946a56e717"
    },
    "QuizType": {
      "type": "string",
      "example": "?type=multipleChoice"
    },
    "QuizUserAnswer": {
      "type": "object",
      "properties": {
        "answer": {
          "type": "string",
          "example": "1"
        }
      }
    },
    "QuizResult": {
      "type": "object",
      "properties": {
        "isCorrect": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "QuizSetSubmission": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "example": "multipleChoice"
        },
        "answers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "quizId": {
                "type": "string",
                "example": "62a455ad6059af946a56e719"
              },
              "answer": {
                "type": "string",
                "example": "3"
              }
            }
          }
        }
      }
    },
    "QuizSetResult": {
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "quizId": {
                "type": "string",
                "example": "62a163ddac4b496254c13da0"
              },
              "isCorrect": {
                "type": "boolean",
                "example": true
              }
            }
          }
        },
        "score": {
          "type": "number",
          "example": 100
        }
      }
    },
    "QuizByType": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "62a455ad6059af946a56e717"
          },
          "title": {
            "type": "string",
            "example": "유통기한 지난 의약품의 분리배출 방법으로 옳은 것을 고르시오."
          },
          "description": {
            "type": "string",
            "example": "폐의약품을 그냥 버릴 경우 환경오염을 일으킬 수 있다. 약국에 비치된 폐의약품 수거함에 버린다."
          },
          "options": {
            "type": "array",
            "example": [
              "일반쓰레기로 버린다.",
              "약국에 비치된 폐의약품 수거함에 버린다.",
              "내 뱃속에 버린다.",
              "약사님께 드린다."
            ],
            "items": {
              "type": "string"
            }
          },
          "answer": {
            "type": "string",
            "example": "1"
          },
          "type": {
            "type": "string",
            "example": "multipleChoice"
          },
          "image": {
            "type": "string",
            "example": "https://images.unsplash.com/photo-1607619056574-7b8d3ee536b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1840&q=80"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "example": "2022-06-11T08:43:25.335Z"
                },
                "totalUser": {
                  "type": "number",
                  "example": 2
                },
                "wrong": {
                  "type": "number",
                  "example": 1
                },
                "yesterday": {
                  "type": "number",
                  "example": 0
                },
                "_id": {
                  "type": "string",
                  "example": "62a455ad6059af946a56e718"
                }
              }
            }
          },
          "__v": {
            "type": "number",
            "example": 0
          }
        }
      }
    },
    "QuizStep": {
      "type": "string",
      "example": "/quizzes/game/1"
    },
    "QuizGameImgSet": {
      "type": "object",
      "properties": {
        "trash": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "example": "imgURL"
              },
              "category": {
                "type": "string",
                "example": "일반"
              }
            }
          }
        },
        "bins": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "example": "imgURL"
              },
              "category": {
                "type": "string",
                "example": "일반"
              }
            }
          }
        }
      }
    },
    "BinsQuery": {
      "type": "string",
      "example": "?search=종로구&category=삼청로"
    },
    "BinsLocation": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "62ab6bef76d07566b0026be9"
          },
          "region": {
            "type": "string",
            "example": "종로구"
          },
          "roads": {
            "type": "string",
            "example": "삼청로"
          },
          "details": {
            "type": "string",
            "example": "삼청로1 맞은편 인도"
          },
          "points": {
            "type": "string",
            "example": "광장, 공원 등 다중집합장소"
          },
          "address": {
            "type": "string",
            "example": "서울 종로구 삼청로 1"
          },
          "type": {
            "type": "array",
            "example": [
              "일반",
              "재활용"
            ],
            "items": {
              "type": "string"
            }
          },
          "x": {
            "type": "string",
            "example": "126.9794122718"
          },
          "y": {
            "type": "string",
            "example": "37.5760952177"
          },
          "__v": {
            "type": "number",
            "example": 0
          }
        }
      }
    },
    "BinsLocationList": {
      "type": "object",
      "properties": {
        "uniqueRegionList": {
          "type": "array",
          "example": [
            "종로구",
            "용산구",
            "성동구",
            "광진구",
            "중랑구"
          ],
          "items": {
            "type": "string"
          }
        },
        "uniqueRoadList": {
          "type": "array",
          "example": [
            "자하문로",
            "삼청로",
            "원효로",
            "마장로",
            "왕십리로",
            "마조로"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CoordinatesQuery": {
      "type": "string",
      "example": "?x=127.087316644307&y=37.5886172687013"
    },
    "RobotLocationList": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "location": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "Point"
              },
              "coordinates": {
                "type": "array",
                "example": [
                  127.093510289011,
                  37.58923330814
                ],
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "_id": {
            "type": "string",
            "example": "62b4385656b6e08d18a0978d"
          },
          "name": {
            "type": "string",
            "example": "세븐일레븐 면목엠비스점(투명페트병)"
          },
          "address": {
            "type": "string",
            "example": "서울 중랑구 상봉로 37"
          },
          "__v": {
            "type": "number",
            "example": 0
          }
        }
      }
    }
  }
}